// App Todo
// ========================================================================

@import '../../base/pages/app-todo.scss';

.todo-application {
  .todo-task-list {
    .todo-item {
      &:not(:hover) {
        transition: none !important;
      }

      &[draggable='true'] {
        box-shadow: 0 0 10px 0 rgba(24, 28, 33, 0.25);
      }
    }
  }
}

.sidebar-todo-modal {
  .react-select {
    z-index: 2;
  }
}
