// ================================================================================================
//  File Name: app-patient.scss
//  Description: patient Layout page layouts SCSS.
//  ----------------------------------------------------------------------------------------------
//  Item Name: Vuexy HTML Admin Template
//  Version: 1.0
//  Author: PIXINVENT
//  Author URL: http://www.themeforest.net/user/pixinvent
// ================================================================================================

@import '../bootstrap-extended/include'; // Bootstrap includes
@import '../components/include'; // Components includes

$product-details-bg: #fcfcfc;
$patient-spacing: 1.45rem 0;
$patient-card-body-padding: 2.5rem;

// patient Preview, Edit & Add
.patient-preview,
.patient-edit,
.patient-add {
  .patient-padding {
    padding-left: $patient-card-body-padding;
    padding-right: $patient-card-body-padding;
  }
  .table {
    th:first-child,
    td:first-child {
      padding-left: 2.5rem;
    }
  }
  .logo-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 1.9rem;
    .patient-logo {
      font-size: 2.142rem;
      font-weight: bold;
      letter-spacing: -0.54px;
      margin-left: 1rem;
      margin-bottom: 0;
    }
  }
  .patient-title {
    font-size: 1.285rem;
    margin-bottom: 1rem;
    .patient-number {
      font-weight: 600;
    }
  }
  .patient-date-wrapper {
    display: flex;
    align-items: center;

    &:not(:last-of-type) {
      margin-bottom: 0.5rem;
    }

    .patient-date-title {
      width: 7rem;
      margin-bottom: 0;
    }
    .patient-date {
      margin-left: 0.5rem;
      font-weight: 600;
      margin-bottom: 0;
    }
  }
  .patient-spacing {
    margin: $patient-spacing;
  }
  .patient-number-date {
    .title {
      width: 115px;
    }
  }
  .patient-total-wrapper {
    width: 100%;
    max-width: 12rem;
    .patient-total-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .patient-total-title {
        margin-bottom: 0.35rem;
      }
      .patient-total-amount {
        margin-bottom: 0.35rem;
        font-weight: 600;
      }
    }
  }

  @media (min-width: 768px) {
    .patient-title {
      text-align: right;
      margin-bottom: 3rem;
    }
  }
}

// patient Edit & Add
.patient-edit,
.patient-add {
  .patient-preview-card {
    .patient-title {
      text-align: left;
      margin-right: 3.5rem;
      margin-bottom: 0;
    }
    .patient-edit-input,
    .patient-edit-input-group {
      max-width: 11.21rem;
    }
    .patient-product-details {
      background-color: $product-details-bg;
      padding: 3.75rem 3.45rem 2.3rem 3.45rem;
      .product-details-border {
        border: 1px solid $border-color;
        border-radius: $border-radius;
      }
    }
    .patient-to-title {
      margin-bottom: 1.9rem;
    }
    .col-title {
      position: absolute;
      top: -1.75rem;
    }
    .item-options-menu {
      min-width: 20rem;
    }
    .repeater-wrapper {
      &:not(:last-child) {
        margin-bottom: 3rem;
      }
    }
    .patient-calculations {
      .total-amt-title {
        width: 100px;
      }
    }
  }
  @media (max-width: 769px) {
    .patient-preview-card {
      .patient-title {
        margin-right: 0;
        width: 115px;
      }
      .patient-edit-input {
        max-width: 100%;
      }
    }
  }
  @media (max-width: 992px) {
    .col-title {
      position: unset !important;
      top: -1.5rem !important;
    }
  }
}
